.quoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative;
  z-index: 1;
}

.quote {
  width: 100%;
  max-width: 30rem;
  min-height: 1rem;
  padding: 1.5rem;
  background: #97b521;
 border-radius: 0.3rem 0.3rem 0 0;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}



.btnQuote {
  padding: 0.5rem 1.5rem;
  background:#636f7f;
  border-radius: 0.3rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnQuote:hover {
  background: #0dcaf0;
  color: #414141;
}

p{
    color: #414141;
    word-wrap: break-word;
}