.card-size {
  width: 18rem;
  height: 12rem !important; 
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.card-size:hover{
  transform: scale(1.05);
}
.cardTitle {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.card{
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.favorite-icon{
 position: absolute;
 top: 0.1rem;
 right: 0.1rem;
 font-size: 2.2rem;
}

@media (max-width: 767px) {
  .favorite-icon {
    color: black;
  }
  .card-size{
    transform: none !important;
  }
}
.buttons{
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}
