.go-to-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  z-index: 999;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  background-color: #6c757d;
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: opacity 0.3s ease-in-out;
}

.go-to-top svg:hover {
  color: #5c636a;
  background-color: #fff;
  border-radius: 50%;
}

.go-to-top svg {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}
