.accordion-header button:focus {
  color: #fff !important;
  background-color: #343a40 !important;
}
.mobile {
  display: none;
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .accordion-header button:focus {
    color: #fff !important;
    background-color:#343a40 !important;
  }
}
