section img{
  border-radius: 0.3rem;
box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(136, 136, 136, 0.3) 0px 30px 60px -30px;
}

.footerText{
    text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: black;
}


@media (max-width: 768px){
  .mobileMode{
  display: none;
  max-width: 100%;
height: auto;
}
 .mb-4.mb-md-0 {
    margin-bottom: 0 !important;
  }
  section img{
  border-radius:0;
}

}